
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

/* .card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
} */

body{
    overflow: hidden;
}

main{
    margin: 5%;
}

h1 {
    padding: 20px 0;
}

#tabelacarrinho th {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}


.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

